.content{
    background-color: #fff;
    width: 25rem;
    height: 40rem;
    margin: 2rem auto;
    border-radius: 1rem;
    display: flexbox;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.followBtn{
    margin-left: 1rem;
    padding: .125rem  .5rem;
    background-color: rgb(31, 224, 224);
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

