.container00{

    &.f-container01{
        background-image: url("../img/falcon9/01.jpg");
    }
    &.f-container02{
        background-image: url("../img/falcon9/02.jpg");
    }
    &.f-container03{
        background-image: url("../img/falcon9/03.jpg");
    }
    &.f-container04{
        background-image: url("../img/falcon9/08.jpg");
    }
    &.f-container05{
        background-image: url("../img/falcon9/09.jpg");
    }
    &.f-container06{
        background-color: black;
    }
}

.container1{
    padding-top: 200px;
}
.titleFalcon9{
    font-size: 90px;
    font-weight: bolder;
}
.list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}

.titleNumb{
    font-size: 90px;
}

.numbers{
    background-color: black;
    padding: 4rem;
}

.containerFalcon9Desc{

    padding-top: 150px;

    .falcon9Desc{
        width: 700px;
        font-size: 23px;
        line-height: 2;
    }
}

.container00{
    &.carrossel01{
        padding-left: 200px;
        padding-top: 250px;
        background-image: url(../img/falcon9/03.jpg);
        
    }
    &.carrossel02{
        padding-left: 200px;
        padding-top: 250px;
        background-image: url(../img/falcon9/04.jpg);
        .description{
            width: 500px;
        }
    }
    &.carrossel03{
        padding-left: 200px;
        padding-top: 250px;
        background-image: url(../img/falcon9/05.jpg);
        .description{
            width: 500px;
        }
    }
    &.carrossel04{
        padding-left: 200px;
        padding-top: 250px;
        background-image: url(../img/falcon9/06.jpg);
        .description{
            width: 500px;
        }
    }
    &.carrossel05{
        padding-left: 200px;
        padding-top: 250px;
        background-image: url(../img/falcon9/07.jpg);
        .description{
            width: 500px;
        }
    }
    &.carrossel06{
        background-image: url(../img/falcon9/09.jpg);
    }
    &.carrossel07{
        background-image: url(../img/falcon9/10.jpg);
    }
    &.carrossel08{
        background-image: url(../img/falcon9/11.jpg);
    }
    &.carrossel09{
        background-image: url(../img/falcon9/12.jpg);
    }
    &.carrossel10{
        background-image: url(../img/falcon9/13.jpg);
    }
    &.carrossel11{
        background-image: url(../img/falcon9/14.jpg);
    }
    
}

#widthTable{
    width: 500px;
    td{
        padding: 10px;
        background-color: transparent;
        color: #fff;
    }
}

.merlinTextContainer{
    padding-left: 100px;
    padding-top: 250px;
    .description{
        width: 500px;
    } 
}

.descriptionCarousel{
    background-color: black;
}

.grayText{
    color: $copy-color;
}
.infoContato{
    padding-top: 270px;
}

